body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: lightgray;
    color: rgb(51, 51, 51);
}

.mr-font1 {
    font-size: 50px;
}
.mr-font2 {
    font-size: 100px;
    font-weight: 700;
}
img {
    margin: 0 auto;
    width: 40%;
    border-radius: 20px;
}